.box {
    display:flex;
    align-items:normal
}

.container {
    font-size: 20px;
    width: 100%;
}

.notas {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    margin: 10px;
    padding: 8px;
}

span {
    color: green;
}

table {
    width: 100%;
    display: flex;
    flex-flow: column;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

th {
    height: 46px;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235 235 235);
    border: 1px solid rgb(204, 204, 204);
}

tbody {
    width: 100%;
}

td {
    height: 46px;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
}

@media (max-width: 560px){
    .box-notas-linhas {
        flex-direction: column;
    }

    th {
        font-size: 12px;
    }
}