.header {
    display: flex;
    border: 1px solid darkgreen;
    background-color: green;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

li {
    direction: none;
    list-style-type: none;
    margin: 10px;
}

ul {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.icon {
    width: 50%;
    height: 50%;
    margin-left: 10px;
}

.icon2 {
    width: 50%;
    height: 50%;
}

.ponta {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.usuario {
    margin-right: 20px;
}