<h3>Login de usuário</h3>
<div>
    <form #acaoLogin="ngForm">

        <fieldset>
            <label for="login">Login: </label>
            <input type="email" name="login" id="login"
            [(ngModel)]="login.email" 
            #email="ngModel" [ngModelOptions]="{standalone: true}" required>
            <br>
            <br>

            <label for="senha">Senha: </label>
            <input type="password" name="senha" id="senha"
            [(ngModel)]="login.senha" 
            #senha="ngModel" [ngModelOptions]="{standalone: true}" required>

            <button type="button" class="entrar" (click)="entrar()">Entrar</button>
            <button type="button" class="entrar" (click)="sair()">Sair</button>
            <button type="button" class="recuperar" (click)="recuperarSenha()">Recuperar senha</button>
        </fieldset>
    </form>
</div>